@use "colors" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Prevents accidental horizontal scrolling
  background-color: $brand-bg; // Or whatever your background variable is named
  color: $brand-softblack; // Your default text color
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Optional: Account for a fixed header/navbar if you have one
/*section[id] {
  scroll-margin-top: 80px; // Adjust based on header height
}*/
