:root {
  --color-brand-primary: #0f766e;
  --color-brand-hover: #138a81;
  --color-teal-dark: #0a5751;
  --color-brand-secondary: #84a98c;
  --color-brand-accent: #e9c46a;
  --color-brand-bg: #faf9f6;
  --color-brand-text: #ffffff;
  --color-brand-black: #050315;
  --color-brand-softblack: #2d3748;
  --color-brand-mapblue: #007aff;
  --color-light-green: #e9eee8;
  --color-green-pin: #5aa96b;
  --color-gold-pin: #eeb31e;
}

// SCSS variables referencing the CSS properties
$brand-primary: var(--color-brand-primary);
$brand-hover: var(--color-brand-hover);
$brand-press: var(--color-teal-dark);
$brand-secondary: var(--color-brand-secondary);
$brand-accent: var(--color-brand-accent);
$brand-bg: var(--color-brand-bg);
$brand-text: var(--color-brand-text);
$brand-black: var(--color-brand-black);
$brand-softblack: var(--color-brand-softblack);
$brand-mapblue: var(--color-brand-mapblue);
